/* 
Don't want to use sass and simply modify the stylesheet in the old css fashion? 
Just customize your theme here.
================================================== */

body {}

ul#markdown-toc:before {
    content: "Table of Content";
    font-weight: bolder;
}

ul#markdown-toc
{
    list-style: none;
    border: 2px solid #8697C4;
    background-color: #E8E8F5;
    a {
        box-shadow: none;
    }
    a:hover {
        box-shadow: inset 0 -30px 0 #3D52A0, 0 2px 0 #3D52A0;
        text-decoration: none;
        color: white;
    }
}